*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #E2E7FE; */
}
body{
    font-family: 'Ropa Sans', sans-serif;
}
.navbar{
    background-color: #fefefe;
    height: 70px;
}
main{
    justify-content: center;
    background-color: #E2E7FE;
    position: relative;
    width: 100%;
    height: 100%;
}
.container-fluid{
    background-color: #fefefe;
    justify-content: center;
}
.navbar-nav{
    gap: 35px;
    color: #4B50B9;
}

.nav-link{
    color: #4B50B9;
}

.img-fluid{
    margin: auto;
    transition: all 0.2s ease-in-out;
    outline: 2.5px solid #4B50B900;
    border-radius: 10px;
    outline-offset: 2.5px;
}

.img-fluid:hover{
    outline-color: #4B50B9FF    ;
}

.btn{
    border: 2px solid #4B50B9;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    width: 100%;
    color: #4B50B9;
    transition: all 0.2s ease-in-out;
}

.login{
    border: 2px solid #4B50B9;
    border-radius: 10px;
    width: 132px;
    color: #4B50B9;
    padding: 8px 5px 8px 5px;
}

.btn:hover{
    color: white;
    background-color: #4B50B9;
}
.row .doc{
    display: flex;
    justify-content: space-between;
}
.col_custom{
    margin: 20px;
    padding: 5px;
    background-color: #BFCAFD;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
}
.card-text{
    justify-content: center;
    text-align: left;
}
#more {
    display:none;
}
#myBtn{
    background-color: #BFCAFD;
    border: 0px;
    color: gray;
}
#more1 {
    display:none;
}
#myBtn1{
    background-color: #BFCAFD;
    color: gray;
}

.col-md-6{
    display: flex;
    align-items: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.toptext{
    margin: 20px 0px 40px 0px;
    text-align: center;
}
