* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #E2E7FE; */
}

body {
    font-family: 'Ropa Sans', sans-serif;
    background-color: #E2E7FE;
}

.navbar {
    background-color: #fefefe;
    height: 70px;
}

.theory {
    background-color: #fefefe;
    border: 1px solid #E2E7FE;
    background-color: #fefefe;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

main {
    justify-content: center;
    background-color: #e2e4ff;
    position: relative;
    width: 100%;
    height: 700px;
}

.container-fluid {
    background-color: #fefefe;
    justify-content: center;
}

.navbar-nav {
    gap: 35px;
    color: #4B50B9;
}

.nav-link{
    color: #4B50B9;
}

.btn {
    border: 2px solid #4B50B9;
    border-radius: 10px;
    width: 132px;
    color: #4B50B9;
}

.col_custom {
    margin: 20px;
    padding: 20px;
    background-color: #BFCAFD;
    border-radius: 10px;
}


h1 {
    width: 1093px;
    height: 107px;
    margin-left: 13px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 107px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #353535;

}

.a {
    /* background-color: rgba(75, 80, 185, 1); */
    align-content: center;
    font-family: 'Ropa Sans';
    color: #ffffff;
    width: 174px;
    height: 80px;
    top: 93px;
    left: 160px;

}

.abox {
    position: relative;
    color: white;
    background-color: rgba(75, 80, 185, 1);
    display: flex;
    justify-content: center;
    align-content: center;
}

.bbox {
    position: relative;
    color: rgba(75, 80, 185, 1);
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.b {
    background-color: #ffffff;
    font-family: 'Ropa Sans';
    color: rgba(75, 80, 185, 1);
    width: 243px;
    height: 80px;
    top: 93px;
    left: 403px;
}

.visu {
    margin-left: 13px;
}

p {
    display: flex;
    width: 902px;
    height: 176px;
    margin-left: 13px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #353535;

}

#start {

    display: inline-block;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    margin-left: 47px;
    /* border: 2px solid; */
    border-color: black;
    border-radius: 10px;
    height: 30px;
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
}

#start:hover {
    background-color: #4688dd;
}

.bton {
    border: 2px solid #353535;
    border-radius: 10px;
    width: 212px;
    height: 61px;
    color: #353535;
    background-color: #E2E7FE;
    font-size: 22px;

}


.btn{
    border: 2px solid #4B50B9;
    padding: 15px 30px 15px 30px;
    width: 100%;
    border-radius: 10px;
    color: #4B50B9;
    transition: all 0.2s ease-in-out;
}

.login{
    border: 2px solid #4B50B9;
    border-radius: 10px;
    width: 132px;
    color: #4B50B9;
    padding: 8px 5px 8px 5px;
}

.btn:hover{
    color: white;
    background-color: #4B50B9;
}
.cpr{
    margin-top: 30px;
    text-align: center;
}
