* {
  font-family: 'Ropa Sans', sans-serif;
  }
  body {
    min-height: 100vh;
  }
  
  .bar-chart {
    margin-top: 5vh;
    background-color: white;
    padding: 50px 20px 30px 20px;
   
  }
  .bar-chart #chart {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
    text-align: center;
  }
  label {
    font-size: 20px;
    cursor: pointer;
  }
  input {
    cursor: pointer;
  }
  rect:hover {
    cursor: pointer;
  }
  .none {
    display: none;
  }
  
  
  .line-through {
    text-decoration: line-through !important;
  }