* {
  font-family: sans-serif;
}
body {
  min-height: 100vh;
}

.bar-chart {
  margin-top: 5vh;
  background-color: white;
  padding: 50px 20px 30px 20px;
}
.bar-chart #chart {
  text-align: center;
}
form {
  margin-top: 20px;
  text-align: center;
}
label {
  font-size: 20px;
  cursor: pointer;
}
input {
  cursor: pointer;
}
rect:hover {
  cursor: pointer;
}
.none {
  display: none;
}
.stop {
  background-image: linear-gradient(
    to right,
    #ad4a04 0%,
    #d36756 51%,
    #8f5a34 100%
  );
}


.line-through {
  text-decoration: line-through !important;
}
